<section class="section">
  <nav class="nav">
    <mat-toolbar class="toolbar">
      <span><b>INFORMACI&Oacute;N DE PRODUCTOS DE LIMPIEZA</b></span>
    </mat-toolbar>
  </nav>
  <section style="text-align: end; margin-right: 5%; margin-top: 3%;">
    <app-productos-cantidad-menor-cien></app-productos-cantidad-menor-cien>
  </section>
  <section class="section-card">
    <mat-card>
      <div class="header-card">
        <h1><b>Productos de Limpieza</b></h1>
      </div>
      <div class="tabs-card">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
          <mat-tab label="Ventas x articulo">
            <app-ventas-por-articulo></app-ventas-por-articulo>
          </mat-tab>
          <mat-tab label="Ventas globales">
            <app-ventas-globales></app-ventas-globales>
          </mat-tab>
          <mat-tab label="Artículos mas vendidos">
            <app-articulos-mas-vendidos></app-articulos-mas-vendidos>
          </mat-tab>
          <mat-tab label="Cantidad de productos existente">
            <app-cantidad-productos-existentes></app-cantidad-productos-existentes>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </section>
</section>

